

#css-zen-garden {
    background-color: #f7f7ec;
    border: black;
    border-style: solid;
}
.page-wrapper {
    margin: 2em 3em;
}

.intro {
    h1 {
        font-size: 10em;
    }
    h2 {
        border-style: solid none;
        text-align: center;
        margin: 200px 400px 0px 400px;
        padding: 20px;
    }

}

.summary {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 100px;
}

#zen-preamble {
    h3 {
        font-size: 5em;
        padding-left: 50px;
    }
    p {
        padding-left: 50px;
        font-size: 1.2em;
    }
    margin-right: 500px;
    border-style: solid;
    
}