

@font-face {
    font-family: veteran_typewriter;
    src: url('veteran_typewriter.ttf');
}

@font-face {
    font-family: MyUnderwood;
    src: url('MyUnderwood.ttf');
}

body {
    background-image: url('newspaper.jpg');
    border: black;
    border-style: solid;
    position: relative;
}
.page-wrapper {
    margin: 2em 3em;
    height: 2600px;
}

.intro {
    h1 {
        font-size: 10em;
        font-family: veteran_typewriter;
        text-align: center;
    }
    h2 {
        border-style: solid none;
        text-align: center;
        margin: 200px 400px 0px 400px;
        padding: 20px;
        font-family: veteran_typewriter;
    }

}

.summary {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 100px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#zen-preamble {
    h3 {
        font-size: 5em;
        padding-left: 50px;
        font-family: veteran_typewriter;
    }
    p {
        padding: 0px 50px;
        font-size: 1.2em;
    }
    margin-right: 500px;
    border-style: solid;
    
}

.design-selection {
    .select {
        margin-left: 20px;
        font-size: 2em;
        font-family: veteran_typewriter;
    }
    ul {
        li {
            margin-top: 10px;
        }
    }
    border-style: solid;
    padding-right: 20px;
    position: absolute;
    bottom: 60%;
    left: 70%;
}

#zen-supporting {
    border-top: solid;
    border-width: 10px;
    margin-top: 50px;
    h3 {
        font-size: 2em;
        font-family: veteran_typewriter;
    }
    .explanation {
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 50px;
        margin-right: 1000px;
        border-style: solid;
        font-size: 1.2em;
    }
}

.participation {
    h3 {
        font-size: 2em;
    }
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 50px;
    border-style: solid;
    position: absolute;
    bottom: 33.5%;
    left: 34%;
    font-size: 1.2em;
}

.zen-resources {
    position: absolute;
    bottom: 26%;
    left: 38%;
    font-size: 1.2em;
    font-family: veteran_typewriter;
}

.design-archives {
    position: absolute;
    bottom: 28.3%;
    left: 60%;
    font-size: 1.2em;
    font-family: veteran_typewriter;
}

.benefits {
    border-style: solid;
    position: absolute;
    top: 77.7%;
    right: 3%;
    padding-right: 20px;
    font-size: 1.2em;
    margin-left: 900px;
    padding-left: 20px;
}

.requirements {
    p {
        padding-left: 20px;
        text-indent: 20px;
    }
    p[role=contentinfo] {
        position: absolute;
        width: 35%;
        left: 59%;
        bottom: 10%;
    }
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    margin-top: 50px;
    margin-right: 600px;
    font-size: 1.2em;
}

footer {
    position: absolute;
    left: 83%;
    font-size: 1.2em;
    font-family: MyUnderwood;
    
}

a {
    color: rgb(116, 80, 80);
}